@model IEnumerable<FoodHunter.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking List</h2>


<p>
    @if (!User.IsInRole("Owner"))
    {
       @Html.ActionLink("Create New", "Create")
    }
</p>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurants.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurants.Name)
        </td>
        <td>
            @if (!User.IsInRole("Owner")) {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                                                       } |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "the hottest resturants!"
	},
	subtitles: [{
		text: "newest data"
	}],
	axisY: {
		title: "booking times",
		gridThickness: 0
	},
	data: [{
		type: "bar",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
</script>
